---
import "fluent-svelte/theme.css"
import "@fontsource/jetbrains-mono"
import Header from "../components/Header.astro"
import Button from "../components/Button.astro"
export interface Props {
	title?: string
	description?: string
	center?: boolean
	unlisted?: boolean
}

import Cube from "@fluentui/svg-icons/icons/cube_20_filled.svg?raw"
import BookQuestionMark from "@fluentui/svg-icons/icons/book_question_mark_20_filled.svg?raw"
import Check from "@fluentui/svg-icons/icons/heart_pulse_20_filled.svg?raw"

const { center, title, description, unlisted } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#3584e4" />
		<meta name="color-scheme" content="dark light" />
		<link rel="icon" href="/icon.png" />
		<title>{title}</title>
		<meta name="description" content={description} />
		{unlisted && <meta name="robots" content="noindex" />}
	</head>
	<body>
		<Header>
			<Button label="Catay" href="/">
				<img src="/icon.png" alt="Catay" height="20" class="logo" />
			</Button>
			<Button label="API" href="/api" set:html={Cube} />
			<Button label="FAQ" href="/faq" set:html={BookQuestionMark} />
			<Button label="Checker" href="/checker" set:html={Check} />
			<Button href="https://discord.gg/HAw7Zf8GF5" label="Discord">
				<svg
					role="img"
					viewBox="0 0 24 24"
					width="20"
					height="20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="M20.317 4.3698a19.7913 19.7913 0 00-4.8851-1.5152.0741.0741 0 00-.0785.0371c-.211.3753-.4447.8648-.6083 1.2495-1.8447-.2762-3.68-.2762-5.4868 0-.1636-.3933-.4058-.8742-.6177-1.2495a.077.077 0 00-.0785-.037 19.7363 19.7363 0 00-4.8852 1.515.0699.0699 0 00-.0321.0277C.5334 9.0458-.319 13.5799.0992 18.0578a.0824.0824 0 00.0312.0561c2.0528 1.5076 4.0413 2.4228 5.9929 3.0294a.0777.0777 0 00.0842-.0276c.4616-.6304.8731-1.2952 1.226-1.9942a.076.076 0 00-.0416-.1057c-.6528-.2476-1.2743-.5495-1.8722-.8923a.077.077 0 01-.0076-.1277c.1258-.0943.2517-.1923.3718-.2914a.0743.0743 0 01.0776-.0105c3.9278 1.7933 8.18 1.7933 12.0614 0a.0739.0739 0 01.0785.0095c.1202.099.246.1981.3728.2924a.077.077 0 01-.0066.1276 12.2986 12.2986 0 01-1.873.8914.0766.0766 0 00-.0407.1067c.3604.698.7719 1.3628 1.225 1.9932a.076.076 0 00.0842.0286c1.961-.6067 3.9495-1.5219 6.0023-3.0294a.077.077 0 00.0313-.0552c.5004-5.177-.8382-9.6739-3.5485-13.6604a.061.061 0 00-.0312-.0286zM8.02 15.3312c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9555-2.4189 2.157-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.9555 2.4189-2.1569 2.4189zm7.9748 0c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9554-2.4189 2.1569-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.946 2.4189-2.1568 2.4189Z"
					></path>
				</svg>
			</Button>
		</Header>
		<main class={center ? "center" : ""}>
			<slot />
		</main>
		<small>Dedicated to Molly the Beagle, 2009-2022 💔</small>
		<style>
			.center {
				justify-content: center;
			}

			body {
				overflow-x: hidden;
				min-height: 100vh;
				margin: 0;
				font-family: var(--fds-font-family-text);
				background-color: var(--fds-solid-background-base);
				color: var(--fds-text-primary);
				display: flex;
				flex-direction: column;
			}

			main {
				flex: 1;
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				padding: 1rem;
				width: calc(100% - 100px);
				max-width: 1500px;
				margin: 0 auto;
				margin-left: 100px;
				box-sizing: border-box;
			}

			small {
				font-size: 0.8rem;
				color: #888;
				text-align: center;
				display: block;
				font-family: var(--fds-font-family-small);
				margin-bottom: 0.8rem;
			}
		</style>
	</body>
</html>
